/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * europa:
 *   - http://typekit.com/eulas/00000000000000003b9b12fe
 *   - http://typekit.com/eulas/00000000000000003b9b12fd
 * eurostile:
 *   - http://typekit.com/eulas/000000000000000000017994
 *   - http://typekit.com/eulas/000000000000000000017997
 *   - http://typekit.com/eulas/00000000000000000001799f
 *   - http://typekit.com/eulas/0000000000000000000179a1
 *
 * © 2009-2024 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-03-21 23:33:19 UTC"}*/

@import url("p.css");

@font-face {
font-family:"europa";
src:url("../l") format("woff2"),url("../d_1") format("woff"),url("../a_1") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"europa";
src:url("../l_1") format("woff2"),url("../d") format("woff"),url("../a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"eurostile";
src:url("../l_3") format("woff2"),url("../d_3") format("woff"),url("../a_3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"eurostile";
src:url("../l_2") format("woff2"),url("../d_4") format("woff"),url("../a_4") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"eurostile";
src:url("../l_5") format("woff2"),url("../d_2") format("woff"),url("../a_5") format("opentype");
font-display:auto;font-style:normal;font-weight:800;font-stretch:normal;
}

@font-face {
font-family:"eurostile";
src:url("../l_4") format("woff2"),url("../d_5") format("woff"),url("../a_2") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

.tk-europa { font-family: "europa",sans-serif; }
.tk-eurostile { font-family: "eurostile",sans-serif; }
